<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <div class="uk-grid" data-uk-grid-margin>
        <h3>Privacy Policy for Page Go</h3>
        <div class="uk-width-medium-1-1">
            <p>If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at admin@pagego.net.</p>
            <p>At pagego.net, the privacy of our visitors is of extreme importance to us. This privacy policy document outlines the types of personal information is received and collected by pagego.net and how it is used.</p>
        </div>
        <h3>Cookies</h3>
        <div class="uk-width-medium-1-1">
            <p>pagego.net does use cookies to store information about visitors preferences, record user-specific information on which pages the user access or visit,
                customize Web page content based on visitors browser type or other information that the visitor sends via their browser.<p>
            <p>If you wish to disable cookies, you may do so through your individual browser options.
                More detailed information about cookie management with specific web browsers can be found at the browsers' respective websites.</p>
        </div>
    </div>
    <hr class="uk-article-divider">
    <div class="uk-grid">
        <div class="uk-width-1-2"><a href="/" style="color: #616161">Make a page with <span class="brand_font_small">Page Go</span></a></div>
        <div class="uk-width-1-2">
        </div>
    </div>
</div>