<link rel="stylesheet" href="/js/prod/production.min.css">
<script src="/js/prod/production.min.js"></script>
<script src="/js/main.js"></script>

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <input id="page_id" type="hidden" value="<%= pageId %>">
    <input id="page_link" type="hidden" value="<%= pageLink %>">
    <input id="page_key" type="hidden" value="<%= pageKey %>">
    <input id="local_user" type="hidden" value="<%= isLocalUser %>">
    <nav class="uk-navbar uk-margin-large-bottom">
        <a class="uk-navbar-brand uk-hidden-small brand_font" href="/">Page Go</a>
        <ul class="uk-navbar-nav uk-hidden-small">
            <% if(pageId!=0){ %>
                <li>
                    <a href="/new">New Page</a>
                </li>
            <% }else{ %>
                <li class="uk-active">
                    <a href="#">New Page</a>
                </li>
            <% }%>

            <li>
                <a href="/public/<%= username %>">My Pages</a>
            </li>

        </ul>

        <ul class="uk-navbar-nav uk-hidden-small uk-navbar-flip">
            <li>

                <a class="username_button" href="/"><%= username %></a>

            </li>
            <li>
                <a class="show_auth_form" href="<%= loginLink %>"><%= loginTitle %></a>
            </li>
        </ul>

        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
        <div class="uk-navbar-brand uk-navbar-center uk-visible-small brand_font">Page Go</div>
    </nav>

    <div class="uk-modal" id="welcome">
        <div class="uk-modal-dialog uk-modal-dialog-large">
            <div class="uk-width-medium-1-1">
                <div class="uk-vertical-align uk-text-center" style="height: 450px;">
                    <div class="uk-vertical-align-middle uk-width-1-2">
                        <h1 class="uk-heading-large">Make a Page</h1>
                        <p class="uk-text-large">Make a simple page with headings, text, photo and video.</p>
                        <p>
                            <a class="uk-button uk-button-primary uk-button-large" id="start_now"  href="#">Start Now</a>
                        </p>
                        <p class="uk-text-large">Write an article or note and easily share link to social media, in message or any other way.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="uk-modal" id="auth_form">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close uk-close-alt"></a>
            <div class=" uk-text-center">

            <div class="uk-vertical-align-middle">

                <div style="height: 44px;">
                    <div id="login_spinner" class="uk-icon-spinner uk-icon-spin uk-icon-small cm-spinner"></div>
                    <div style="margin-top: 0" id="login_alert" class="uk-alert uk-alert-danger"></div>
                </div>
                <div id="login_form">
                    <form class="uk-panel uk-panel-box uk-form">

                        <div class="uk-form-row">
                            <input class="uk-width-1-1 uk-form-large" type="text" name="username" id="username_field" placeholder="Username/Email">
                        </div>
                        <div class="uk-form-row">
                            <input class="uk-width-1-1 uk-form-large" type="password" name="password" id="password_field" placeholder="Password">
                        </div>
                        <div class="uk-form-row">
                            <button class="uk-width-1-1 uk-button uk-button-primary uk-button-large" type="button" id="login_button" >Login</button>
                        </div>
<!--                        <div class="uk-form-row uk-text-small">-->
<!--                            <a id="forgot_password_button" class="uk-float-right uk-link uk-link-muted" href="/">Forgot Password?</a>-->
<!--                        </div>-->
                        <!--div class="uk-form-row">
                            <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" style="background-color: #4965b0" href="/auth/facebook">Login with Facebook</a>
                        </div>
                        <div class="uk-form-row">
                            <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" style="background-color: #439dc1" href="/auth/twitter">Login with Twitter</a>
                        </div-->
                        <div class="uk-form-row">
                            <button id="open_register_form" class="uk-button uk-button-link" type="button">Register</button>
                        </div>
                    </form>
                </div>
                <div id="register_form" style="display: none">
                    <form class="uk-panel uk-panel-box uk-form ">
                        <div class="uk-form-row">
                            <input id="reg_username_field" class="uk-width-1-1 uk-form-large" type="text" placeholder="Username">
                        </div>
                        <div class="uk-form-row">
                            <input id="reg_email_field" class="uk-width-1-1 uk-form-large" type="text" placeholder="Email">
                        </div>
                        <div class="uk-form-row">
                            <input id="reg_password_field" class="uk-width-1-1 uk-form-large" type="password" placeholder="Password">
                        </div>
                        <div class="uk-form-row">
                            <input id="reg_verpassword_field" class="uk-width-1-1 uk-form-large" type="password" placeholder="Password Again">
                        </div>
                        <div class="uk-form-row">
                            <a id="register_button" class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="#">Register</a>
                        </div>
                        <div class="uk-form-row">
                            <button id="open_login_form"  class="uk-button uk-button-link" type="button">Login</button>
                        </div>
                    </form>
                </div>

                <div id="reset_form" style="display: none">
                    <form class="uk-panel uk-panel-box uk-form ">

                        <div class="uk-form-row">
                            <input id="reset_email_field" class="uk-width-1-1 uk-form-large" type="text" placeholder="Email">
                        </div>
                        <div class="uk-form-row">
                            <a id="reset_button" class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="#">Reset Password</a>
                        </div>
                        <div class="uk-form-row">
                            <button id="open_login_form_1"  class="uk-button uk-button-link" type="button">Login</button>
                        </div>
                    </form>
                </div>


            </div>
            </div>
        </div>
    </div>

    <div class="uk-modal" id="user_form">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close uk-close-alt"></a>
            <div class=" uk-text-center">
                <div class="uk-vertical-align-middle">
                    <div style="height: 44px;">
                        <div id="update_spinner" class="uk-icon-spinner uk-icon-spin uk-icon-small cm-spinner"></div>
                        <div style="margin-top: 0" id="update_alert" class="uk-alert uk-alert-danger"></div>
                    </div>
                    <div>
                        <form class="uk-panel uk-panel-box uk-form ">
                            <div class="uk-form-row">
                                <input id="update_username_field" class="uk-width-1-1 uk-form-large" type="text" disabled="disabled" placeholder="Username" value="<%= username %>">
                            </div>
                            <div class="uk-form-row">
                                <input id="update_email_field" class="uk-width-1-1 uk-form-large" type="text" disabled="disabled" placeholder="Email" value="<%= email %>">
                            </div>
                            <div class="uk-form-row">
                                <input id="update_password_field" class="uk-width-1-1 uk-form-large" type="password" placeholder="New Password" >
                            </div>
                            <div class="uk-form-row">
                                <input id="update_verpassword_field" class="uk-width-1-1 uk-form-large" type="password" placeholder="Password Again">
                            </div>
                            <div class="uk-form-row">
                                <a id="update_user_button" class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="#">Change Password</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-modal" id="video_help">

        <div class="uk-modal-dialog uk-modal-dialog-large">
            <a class="uk-modal-close uk-close uk-close-alt"></a>
            <div class="uk-width-medium-1-1">
                <article class="uk-article">

                    <h1 class="uk-article-title">How do I add a YouTube video?</h1>

                    <p class="uk-article-lead">1. Click “Share” on the YouTube video.</p>
                    <img src="/images/share-video.jpg" width="875" height="46" title="Frontpage" alt="Frontpage">
                    <p class="uk-article-lead">2. Click “Embed” from the Share menu.</p>
                    <img src="/images/embed.jpg" width="863" height="131" title="Frontpage" alt="Frontpage">
                    <p class="uk-article-lead">3. Copy the HTML embed code for the YouTube video.</p>
                    <p class="uk-article-lead">4. Paste the YouTube Embed Code into your page editor.</p>

                </article>

            </div>
        </div>

    </div>


    <input type="text" id="page_title" placeholder="Enter Title" class="uk-form-small uk-width-1-1" value="<%= title %>">
    <p></p>

    <textarea id="html_editor"  data-uk-htmleditor="{markdown:true, mode:'split', maxsplitsize:600}"><%= code %></textarea>


            <div class="uk-panel uk-panel-box">

                <div class="uk-grid" data-uk-grid-margin>

                    <div class="uk-width-1-2 uk-text-center">

                            <div class="uk-button-dropdown"  data-uk-dropdown="{mode:'click'}">
                                <button class="uk-button"><span id="privacy_value"><%= privacyValue %></span><i class="uk-icon-caret-up"></i></button>
                                <div class="uk-dropdown uk-dropdown-up">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li><a href="#" class="privacy_selector" id="privacy_2">Public By Link&nbsp;</a></li>
                                        <li><a href="#" class="privacy_selector" id="privacy_3" >Private&nbsp;</a></li>
                                    </ul>
                                </div>
                            </div>

                    </div>
                    <div class="uk-width-1-2 uk-text-center">
                            <button class="uk-button uk-button-primary start_now" type="button" id="publish_button">Publish</button>
                            <div id="publish_spinner" class="uk-icon-spinner uk-icon-spin uk-icon-small cm-spinner"></div>
                    </div>
                </div>

                <div id="active_link_tag" class="uk-vertical-align uk-text-center" style="height: 30px">

                    <div class="uk-vertical-align-bottom uk-hidden-small" ><span>Page Link: <a class="active_link" href="#" ></a></span></div>
                    <div class="uk-vertical-align-bottom uk-visible-small"><span class="uk-text-small">Page Link: <a class="active_link uk-text-small" href="#" ></a></span></div>

                </div>


            </div>

    <hr class="uk-grid-divider">
    <div class="uk-grid">
        <div class="uk-width-1-2">
<!--            ©2015 Page Go-->
        </div>
        <div class="uk-width-1-2">
<!--            <a class="uk-float-right" href="mailto:admin@evsam.net">admin@evsam.net</a>-->
        </div>
    </div>
</div>


<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">
            <% if(pageId!=0){ %>
            <li>
                <a href="/new">New Page</a>
            </li>
            <% }else{ %>
            <li class="uk-active">
                <a href="#">New Page</a>
            </li>
            <% }%>

            <li>
                <a href="/public/<%= username %>">My Pages</a>
            </li>

            <li>
                <a class="username_button" href="#"><%= username %></a>
            </li>
            <li>
                <a class="show_auth_form" href="<%= loginLink %>"><%= loginTitle %></a>
            </li>
        </ul>
    </div>
</div>
