<!DOCTYPE html>
<html>
  <head>
    <title>Page Go</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Make a simple page with headings, text, photo and video. Write an article or note and easily share link to social media, in message or any other way.">
      <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
      <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

  </head>

  <body>
    <%- body %>
  </body>
</html>
