<!DOCTYPE html>
<html>
<head>

    <!-- Viewport mobile tag for sensible mobile support -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- title %></title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
    <link rel="stylesheet" href="/styles/uikit/uikit.almost-flat.css">
</head>

<body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

        <% if(privacy===3){ %>
            <div class="uk-float-right uk-badge">Private</div>
        <%}%>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <%- body %>
            </div>
        </div>
        <hr class="uk-article-divider">
        <div class="uk-grid">
            <div class="uk-width-1-2"><a href="/" style="color: #616161">Make a page with <span class="brand_font_small">Page Go</span></a></div>
            <div class="uk-width-1-2">
            </div>
        </div>
    </div>
</body>
</html>
