<link rel="stylesheet" href="/styles/uikit/uikit.almost-flat.css">
<script src="/js/frameworks/vendor/jquery.js"></script>
<script src="/js/frameworks/uikit/js/uikit.js"></script>
<script src="/js/frameworks/uikit/js/core/nav.js"></script>
<script src="/js/frameworks/uikit/js/core/offcanvas.js"></script>
<script src="/js/main.js"></script>

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <input id="local_user" type="hidden" value="<%= isLocalUser %>">
    <nav class="uk-navbar uk-margin-large-bottom">
        <a class="uk-navbar-brand uk-hidden-small brand_font" href="/">Page Go</a>
        <ul class="uk-navbar-nav uk-hidden-small">
            <% if (isAuthenticated) { %>
                <li>
                    <a href="/new">New Page</a>
                </li>
                <li class="uk-active">
                    <a href="/public/<%= username %>">My Pages</a>
                </li>
            <% } %>

        </ul>

        <ul class="uk-navbar-nav uk-hidden-small uk-navbar-flip">
            <% if (isAuthenticated) { %>
                <li>
                    <a class="username_button" href="#"><%= username %></a>
                </li>
            <% } %>
            <li>
                <a class="show_auth_form" href="<%= loginLink %>"><%= loginTitle %></a>
            </li>
        </ul>

        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
        <div class="uk-navbar-brand uk-navbar-center uk-visible-small brand_font">Page Go</div>
    </nav>
    <div class="uk-modal" id="auth_form">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close uk-close-alt"></a>
            <div class=" uk-text-center">

                <div class="uk-vertical-align-middle">

                    <div style="height: 44px;">
                        <div id="login_spinner" class="uk-icon-spinner uk-icon-spin uk-icon-small cm-spinner"></div>
                        <div style="margin-top: 0" id="login_alert" class="uk-alert uk-alert-danger"></div>
                    </div>
                    <div id="login_form">
                        <form class="uk-panel uk-panel-box uk-form ">

                            <div class="uk-form-row">
                                <input class="uk-width-1-1 uk-form-large" type="text" id="username_field" placeholder="Username/Email">
                            </div>
                            <div class="uk-form-row">
                                <input class="uk-width-1-1 uk-form-large" type="password" id="password_field" placeholder="Password">
                            </div>
                            <div class="uk-form-row">
                                <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" id="login_button" href="#">Login</a>
                            </div>
<!--                            <div class="uk-form-row uk-text-small">-->
<!--                                <a class="uk-float-right uk-link uk-link-muted" href="#">Forgot Password?</a>-->
<!--                            </div>-->

                            <div class="uk-form-row">
                                <button id="open_register_form" class="uk-button uk-button-link" type="button">Register</button>
                            </div>
                        </form>
                    </div>
                    <div id="register_form" style="display: none">
                        <form class="uk-panel uk-panel-box uk-form ">
                            <div class="uk-form-row">
                                <input id="reg_username_field" class="uk-width-1-1 uk-form-large" type="text" placeholder="Username">
                            </div>
                            <div class="uk-form-row">
                                <input id="reg_email_field" class="uk-width-1-1 uk-form-large" type="text" placeholder="Email">
                            </div>
                            <div class="uk-form-row">
                                <input id="reg_password_field" class="uk-width-1-1 uk-form-large" type="password" placeholder="Password">
                            </div>
                            <div class="uk-form-row">
                                <input id="reg_verpassword_field" class="uk-width-1-1 uk-form-large" type="password" placeholder="Password Again">
                            </div>
                            <div class="uk-form-row">
                                <a id="register_button" class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="#">Register</a>
                            </div>
                            <div class="uk-form-row">
                                <button id="open_login_form"  class="uk-button uk-button-link" type="button">Login</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="uk-modal" id="user_form">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close uk-close-alt"></a>
            <div class=" uk-text-center">
                <div class="uk-vertical-align-middle">
                    <div style="height: 44px;">
                        <div id="update_spinner" class="uk-icon-spinner uk-icon-spin uk-icon-small cm-spinner"></div>
                        <div style="margin-top: 0" id="update_alert" class="uk-alert uk-alert-danger"></div>
                    </div>
                    <div>
                        <form class="uk-panel uk-panel-box uk-form ">
                            <div class="uk-form-row">
                                <input id="update_username_field" class="uk-width-1-1 uk-form-large" type="text" disabled="disabled" placeholder="Username" value="<%= username %>">
                            </div>
                            <div class="uk-form-row">
                                <input id="update_email_field" class="uk-width-1-1 uk-form-large" type="text" disabled="disabled" placeholder="Email" value="<%= email %>">
                            </div>
                            <div class="uk-form-row">
                                <input id="update_password_field" class="uk-width-1-1 uk-form-large" type="password" placeholder="New Password" >
                            </div>
                            <div class="uk-form-row">
                                <input id="update_verpassword_field" class="uk-width-1-1 uk-form-large" type="password" placeholder="Password Again">
                            </div>
                            <div class="uk-form-row">
                                <a id="update_user_button" class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="#">Change Password</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="uk-pagination">
        <% if (nextP>0){%>
        <li class="uk-disabled"><a href="/public?p=<%= nextP %>"> < Next </a></li>
        <% } %>
        <% if (prevP>0){%>
        <li class=""><a href="/public?p=<%= prevP %>"> Prev > </a></li>
        <% } %>
    </ul>

    <div class="uk-grid" >
        <div class="uk-width-medium-1-1">
            <% pageList.forEach(function(page){ %>
            <div id="page_<%= page.link %>" class="uk-panel uk-panel-box" data-uk-margin>

                <p ><a style="color: #616161" href="/<%= page.link %>"><%= page.title %></a></p>

                <p class="uk-text-muted uk-text-small uk-position-bottom-left uk-margin-left uk-hidden-small"><span><%= page.user.username%></span><span style="padding-left: 10px"><%= page.updatedAt %></span></p>

                <p class="uk-text-muted uk-text-small uk-visible-small"><a  href="/public/<%= page.user.username%>"><%= page.user.username%></a></p>
                <p class="uk-text-muted uk-text-small uk-visible-small"><%= page.updatedAt %></p>


                <a id="delete_button_<%= page.link %>" onclick="deletePage(this.id);" class="uk-button uk-float-right" href="#"><i class="uk-icon-trash"></i></a>
                <div id="delete_spinner_<%= page.link %>" style="display: none"  class="uk-icon-spinner uk-icon-spin uk-icon-small cm-spinner uk-float-right"></div>
                <a class="uk-button uk-button-primary uk-float-right"  href="/edit/<%= page.link %>">Edit</a>


            </div>
            <% }); %>
        </div>
    </div>

    <ul class="uk-pagination">
        <% if (nextP>0){%>
            <li class="uk-disabled"><a href="/public?p=<%= nextP %>"> < Next </a></li>
        <% } %>
        <% if (prevP>0){%>
            <li class=""><a href="/public?p=<%= prevP %>"> Prev > </a></li>
        <% } %>
    </ul>

    <hr class="uk-grid-divider">
    <div class="uk-grid">
        <div class="uk-width-1-2"></div>
        <div class="uk-width-1-2">

        </div>
    </div>

</div>

<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">
            <% if (isAuthenticated) { %>
                <li>
                    <a href="/new">New Page</a>
                </li>
                <li class="uk-active">
                    <a href="/public/<%= username %>">My Pages</a>
                </li>
                <li>
                    <a class="username_button" href="#"><%= username %></a>
                </li>
            <% }%>

            <li>
                <a class="show_auth_form" href="<%= loginLink %>"><%= loginTitle %></a>
            </li>

        </ul>
    </div>
</div>